/*Do not forget to integrate the .woof file in your directory, otherwise you not gonna be able to use the font*/
<style>

  @font-face {
font-family: 'LibelSuit-Regular';
font-style: normal;
font-weight: normal;
src: local('LibelSuit-Regular'), url('libelsuit.woff') format('woff');
}


@font-face {
font-family: 'LibelSuit-Regular';
font-style: normal;
font-weight: normal;
src: local('LibelSuit-Regular'), url('libelsuit.woff') format('woff');
}
.maincon {
	font-family:'LibelSuit-Regular';font-weight:normal;
}
</style>
